.mainContainer{
  
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.container{
    width:290px;
    height: 700px;
    padding-top: 60px;
    background-color: #ffffff;
    padding-left:1%;
    padding-right:1%
    
}

.header{
    color: #1bbfff;
    font-size: 22px;
    font-weight: 500;
    text-align: left;
}
.object{
    font-weight: 500;
    font-size: 15px;
}
.rowContainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    
}
