.navbar{
    width:100%;
    background-color: #0094CE;
    height: 65px;
    color: #fff;
    position:fixed;
    text-align: left;
    font-weight: 500;
    font-size: 25px;
    display: flex;
    gap:20px;
    align-items: center;
    padding-left: 20px;

}